name: Code Formatting Check

on:
  push:
    branches:
      - '*'

jobs:
  check_formatting:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.8

    - name: Install uv and dependencies
      run: |
        python -m pip install --upgrade uv
        cd backend && uv sync && cd ..

    - name: Check sanity of json files
      run: |
        source backend/.venv/bin/activate
        uv run python .hooks/check_json.py

