name: Code Formatting Check

on:
  push:
    branches:
      - '*'

jobs:
  check_formatting:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.8

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r backend/dev_requirements.txt

    - name: Check code formatting with black
      run: black --check .

    - name: Check sanity of json files
      run: python .hooks/check_json.py

